<style>
    /*{{style}}*/
</style>
<div id='halves_container'>
    <div id='left-side'>
        <h1 id='name'>{{fullName}}</h1>
        <div id='info'>
            <h2 id='pos'>{{position}}</h2>
            <p id='location'>{{location}}</p>
            {{phoneNumber}}|{{emailAddress}}|{{websites}}
        </div>
        <div id='summary'>
            <h2>Summary</h2>
                {{summary}}
        </div>
        <div id='skills'>
            <h2>Skills</h2>
                {{skills}}
        </div>
    </div>
    <div id='right-side'>
        <div id='experience'>
            <h2>Experience</h2>
                {{experience}}
        </div>
        <div id='education'>
            <h2>Education</h2>
                {{education}}
        </div>
    </div>
</div>