#halves_container {
    display: flex;
    flex-direction: row;
    gap: 50px
}

#left-side {
    flex: 1;
    min-width: 0;
    max-width: 25%;
    font-size: .70em;
}

#right-side {
    flex: 1;
    min-width: 0;
    max-width: 75%;
}

header {
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    align-items: baseline;      
    gap: 20px;
    font-size: .90em;
    justify-content: space-evenly ;
}

#info {
    text-align: center;         /* Center text inside the info box */
    align-self: center;         /* Center #info vertically relative to the baseline */
    font-size: .80em
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f7f9fc;
    color: #333;
}

h1 {
    font-size: 2.2em;
    color: #2c3e50;
    margin-bottom: 5px;
}

h2:not(#pos) {
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    color: #2980b9;
    margin-top: 30px;
}

h3 {
    color: #34495e;
    margin-top: 20px;
}
    p, li {
    font-size: 0.95em;
}

ul {
    margin: 10px 0 20px 20px;
}

strong {
    color: #2c3e50;
}