<style>
    /*{{style}}*/
</style>
    <body>
      <header>
          <h1 id='name'>{{fullName}}</h1>
          <h2 id='pos'>{{position}}</h2>
          <div id='info'>
          {{location}}<br> {{phoneNumber}}<br> {{emailAddress}} <br>{{websites}}
        </div>
      </header>
    
      <div id='halves_container'>
          <div id='left-side'>
              <div id='summary'>
                  <h2>Summary</h2>
                  <p>{{summary}}</p>
              </div>
              <div id='skills'>
                  <h2>Skills</h2>
                  {{skills}}
              </div>
          </div>
    
          <div id='right-side'>
              <div id='experience'>
                  <h2>Experience</h2>
                  {{experience}}
              </div>
              <div id='education'>
                  <h2>Education</h2>
                  {{education}}
              </div>
          </div>
      </div>
    </body>